<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.day.record">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/day_record_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/day_record_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Day_record">
        <activity android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.calendar.CalendarActivity" />
        <activity android:name=".ui.task.CrudTaskActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Day_record.NoActionBar">

        </activity>

        <receiver android:name=".ui.AlarmReceiver"
            android:enabled="true"
            android:exported="true">

        </receiver>

    </application>

</manifest>